@charset "UTF-8";
/* ====================================
media query
==================================== */
/* ====================================
colors
==================================== */
/* ==================================
header
================================== */
.header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: background-color 0.3s;
}
@media (min-width: 768px) {
  .header {
    height: 87px;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  height: inherit;
  justify-content: flex-end;
  padding: 30px 100px;
}
@media (max-width: 767px) {
  .header__inner {
    padding: 30px 0;
  }
}

.header__link {
  width: 24px;
}

.header__awesome {
  color: #111;
  font-size: 24px;
}

.header__sns {
  display: flex;
  padding-right: 90px;
}

.header__sns li:nth-child(2) {
  margin-left: 30px;
}

.drawer-icon {
  position: fixed;
  top: 22px;
  right: 20px;
  z-index: 300;
  display: block;
  cursor: pointer;
}
@media (min-width: 768px) {
  .drawer-icon {
    top: 30px;
    right: 100px;
  }
}

.drawer-icon__bars {
  position: relative;
  display: block;
  width: 30px;
  height: 26px;
  background: #fff;
}

.drawer-icon__bars span:nth-child(1) {
  position: absolute;
  width: 30px;
  height: 1px;
  background: #111;
  top: 0;
  left: 0;
  transition: ease 0.3s;
}

.drawer-icon__bars span:nth-child(2) {
  position: absolute;
  width: 30px;
  height: 1px;
  background: #111;
  top: 12px;
  left: 0;
}

.drawer-icon__bars span:nth-child(3) {
  position: absolute;
  width: 30px;
  height: 1px;
  background: #111;
  top: 24px;
  left: 0;
  transition: ease 0.3s;
}

/* ====================================
media query
==================================== */
/* ====================================
colors
==================================== */
/* ==================================
top
================================== */
.top {
  position: relative;
  width: 100%;
  padding-bottom: 220px;
}

.top__picture {
  padding-top: 46%;
  background: url(../img/mv-img.png) no-repeat top right/70%;
}
@media (max-width: 767px) {
  .top__picture {
    padding-top: 120%;
    background: url(../img/mv-img.png) center center/cover;
  }
}

.top__message {
  position: absolute;
  width: 30%;
  top: 0;
  left: 0;
  padding-top: 110px;
  padding-left: 100px;
}
@media (max-width: 767px) {
  .top__message {
    width: 100%;
    text-align: center;
    padding-left: 0;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
  }
}

@media (min-width: 767px) and (max-width: 1000px) {
  .top__message {
    padding-top: 70px;
    padding-left: 30px;
  }
}
.top__title {
  font-size: 34px;
  color: #F4D6A5;
}

.top__icon {
  position: relative;
  margin-top: 32px;
}
@media (max-width: 767px) {
  .top__icon {
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 1000px) {
  .top__icon {
    margin-top: 20px;
  }
}
.top__icon1 {
  position: absolute;
  content: "";
  top: 0;
  left: 100px;
  width: 100px;
}

@media (min-width: 767px) and (max-width: 1000px) {
  .top__icon1 {
    right: 30px;
    width: 80px;
  }
}
.top__icon2 {
  position: absolute;
  content: "";
  top: 80px;
  left: 25px;
  width: 75px;
}

@media (min-width: 767px) and (max-width: 1000px) {
  .top__icon2 {
    top: 50px;
    width: 60px;
  }
}
/* ====================================
media query
==================================== */
/* ====================================
colors
==================================== */
/* ==================================
about
================================== */
.about {
  padding-bottom: 300px;
}

.about__inner {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

@media (min-width: 767px) and (max-width: 1150px) {
  .about__inner {
    padding: 0 20px;
  }
}
.about__wrap {
  display: flex;
}
@media (max-width: 767px) {
  .about__wrap {
    display: block;
  }
}

@media (max-width: 1149px) {
  .about__wrap {
    display: block;
  }
}
.about__content {
  margin-top: 60px;
  margin-left: auto;
  width: 35%;
}

@media (max-width: 1149px) {
  .about__content {
    width: 100%;
  }
}
.about__title {
  position: relative;
}

.about__title h2 {
  font-size: 22px;
  font-weight: bold;
  color: #3F3A40;
}
@media (max-width: 767px) {
  .about__title h2 {
    font-size: 20px;
  }
}

.about__title p {
  font-family: "Bangers", cursive;
  font-size: 30px;
  color: #F4D6A5;
  position: absolute;
  content: "";
  top: -2%;
  left: 36%;
  opacity: 0.5;
}
@media (max-width: 767px) {
  .about__title p {
    font-size: 20px;
  }
}

.about__text {
  margin-top: 28px;
  color: #3F3A40;
}
@media (max-width: 767px) {
  .about__text {
    font-size: 14px;
    margin-top: 22px;
    line-height: 1.17143;
  }
}

.about__icon {
  width: 150px;
}

.about__icon.is-pc {
  display: block;
}
@media (max-width: 767px) {
  .about__icon.is-pc {
    display: none;
  }
}

.about__icon.is-sp {
  display: block;
}
@media (min-width: 768px) {
  .about__icon.is-sp {
    display: none;
  }
}

.about__pictures {
  position: relative;
  margin-left: 20px;
  width: 65%;
}

@media (max-width: 1149px) {
  .about__pictures {
    width: 100%;
  }
}
.about__bgPic {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 500px;
}

.about__mainPic {
  position: absolute;
  top: 15%;
  right: 7%;
  width: 100%;
  max-width: 600px;
}

/* ====================================
media query
==================================== */
/* ====================================
colors
==================================== */
/* ==================================
about
================================== */
.bg-concept {
  width: 100%;
  height: 600px;
  background: url(../img/concept.png) no-repeat center/cover;
  position: relative;
}

.bg-concept h2 {
  position: absolute;
  content: "";
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.9375;
  top: 50%;
  left: 100px;
}
@media (max-width: 767px) {
  .bg-concept h2 {
    font-size: 18px;
    line-height: 2.6666666667;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.bg {
  width: 100%;
  height: 260px;
  background: url(../img/background.png) no-repeat top/cover;
}
@media (max-width: 767px) {
  .bg {
    height: 140px;
  }
}

/* ====================================
media query
==================================== */
/* ====================================
colors
==================================== */
/* ==================================
products
================================== */
.products {
  background: #E8E8E8;
  padding: 160px 100px;
}
@media (max-width: 767px) {
  .products {
    padding: 120px 0 60px;
  }
}

.products__items {
  max-width: 1080px;
  margin: 52px auto 0;
}
@media (max-width: 767px) {
  .products__items {
    max-width: 335px;
    margin-top: 48px;
    display: block;
  }
}

.products__item {
  display: flex;
  flex-direction: row;
  background: #fff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
@media (max-width: 767px) {
  .products__item {
    display: block;
    padding: 20px;
  }
}

.products__item:nth-child(even) {
  flex-direction: row-reverse;
}

.products__item + .products__item {
  margin-top: 100px;
}
@media (max-width: 767px) {
  .products__item + .products__item {
    margin-top: 46px;
  }
}

.products__picture {
  width: 50%;
}
@media (max-width: 767px) {
  .products__picture {
    width: 100%;
  }
}

.products__body {
  width: 50%;
  background: #fff;
  padding: 35px 40px;
}
@media (max-width: 767px) {
  .products__body {
    width: 100%;
    padding: 20px 0 0 0;
  }
}

.products__body h3 {
  font-size: 24px;
  line-height: 1.7083333333;
}

.products__circle {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.products__circle p {
  font-size: 10px;
}

.products__circle p:not(:first-child) {
  margin-left: 8px;
}

.products__text {
  margin-top: 34px;
  font-size: 16px;
  line-height: 1.75;
}

/* ====================================
media query
==================================== */
/* ====================================
colors
==================================== */
/* ==================================
news
================================== */
.news, .access {
  background: #fff;
  padding: 160px 80px;
  position: relative;
}
@media (max-width: 767px) {
  .news, .access {
    padding: 120px 0 60px;
  }
}

.news__items {
  margin: 52px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  max-width: 1080px;
}
@media (max-width: 767px) {
  .news__items {
    margin-top: 35px;
    max-width: 320px;
  }
}

.news__item {
  width: calc(33.3% - rem(90) * 2 / 3);
  max-width: 300px;
  display: block;
  position: relative;
}
@media (max-width: 767px) {
  .news__item {
    width: calc(50% - rem(20) * 1 / 2);
    max-width: 150px;
  }
}

@media (min-width: 768px) {
  .news__item:nth-child(n+2) {
    margin-top: 42px;
  }
}

@media (min-width: 768px) {
  .news__item:not(:nth-child(3n+1)) {
    margin-left: 88px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .news__item:not(:nth-child(2n+1)) {
    margin-left: 20px;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .news__item:nth-child(n+4) {
    margin-top: 42px;
  }
}

@media (max-width: 767px) {
  .news__item:nth-child(n+3) {
    margin-top: 22px;
  }
}

.news__item img {
  display: block;
  width: 100%;
}

.news__item {
  position: relative;
  overflow: hidden;
}

.news__mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: 42px;
}

.news__item:hover .news__mask {
  opacity: 1;
  transition: all 0.6s ease;
}

.news__bg {
  position: absolute;
  content: "";
  bottom: 100px;
  right: 0;
  background: linear-gradient(90deg, transparent 0%, transparent 25%, #E8E8E8 25%, #E8E8E8 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}

/* ====================================
media query
==================================== */
/* ====================================
colors
==================================== */
/* ==================================
footer
================================== */
.footer {
  background: #3F3A40;
  padding: 30px 15px 12px 60px;
}
@media (max-width: 767px) {
  .footer {
    padding: 36px 0 14px;
  }
}

.footer__logo {
  color: #F4D6A5;
  font-family: "Montserrat", serif;
  font-size: 34px;
  line-height: 1.2352941176;
}

.footer__access {
  color: #fff;
  font-size: 16px;
  line-height: 1.6875;
}

.footer__sns {
  display: flex;
}

.footer__sns li + li {
  margin-left: 16px;
}

.footer__sns li {
  color: #fff;
  font-size: 24px;
}

.footer__copyright {
  color: #fff;
  font-family: "Montserrat", serif;
  font-size: 14px;
  text-align: center;
}

/* ====================================
media query
==================================== */
/* ====================================
colors
==================================== */
/* ====================================
common
==================================== */
@media (max-width: 767px) {
  .is-pc {
    display: none;
  }
}
@media (min-width: 768px) {
  .is-sp {
    display: none;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

main {
  font-family: "ヒラギノ明朝 ProN", serif, Helvetica, Arial;
  font-size: 16px;
  line-height: 1.6875;
  background: #fff;
  color: #3F3A40;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

.inner {
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
}
@media (max-width: 767px) {
  .inner {
    padding: 0 15px;
    max-width: 1200px;
  }
}

/* ====================================
main
==================================== */
.main {
  padding-top: 70px;
}
@media (max-width: 767px) {
  .main {
    padding-top: 60px;
  }
}

.section-title {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.section-title h2 {
  font-size: 32px;
  color: #3F3A40;
}
@media (max-width: 767px) {
  .section-title h2 {
    font-size: 20px;
  }
}

.section-title p {
  font-family: "Bangers", cursive;
  font-size: 40px;
  color: #F4D6A5;
  position: absolute;
  content: "";
  top: 24%;
  left: 50%;
  opacity: 0.5;
}
@media (max-width: 767px) {
  .section-title p {
    font-size: 20px;
  }
}