/* ====================================
media query
==================================== */
$breakpoints: (
    "sm": "(max-width: 767px)",
    "md":  "(min-width: 768px)",
) !default;

// メディアクエリー
@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

/* ====================================
colors
==================================== */
$primary-color: #00a381;
$font-color: #333;

/* ==================================
about
================================== */
.bg-concept {
    background: url(../img/concept.png) no-repeat center / cover;
}