/* ====================================
media query
==================================== */
$breakpoints: (
    "sm": "(max-width: 767px)",
    "md":  "(min-width: 768px)",
) !default;

// メディアクエリー
@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

/* ====================================
colors
==================================== */
$primary-color: #00a381;
$font-color: #333;

/* ==================================
concept2
================================== */
.concept2__inner {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    @include mq("sm") {
        display: block;
    }
}

.concept2__picture {
    flex: 0 0 50%;
}

.concept2__message {
    flex: 0 1 50%;
    margin-right: 6.667%;
    @include mq("sm") {
        margin-top: 34px;
    }
}

.concept2__title {
    font-size: 28px;
    font-weight: bold;
    @include mq("sm") {
        font-size: 20px;
    }
}

.concept2__text {
    margin-top: 36px;
    @include mq("sm") {
        font-size: 14px;
        line-height: 1.17143;
    }
}