/* ====================================
media query
==================================== */
$breakpoints: (
    "sm": "(max-width: 767px)",
    "md":  "(min-width: 768px)",
) !default;

// メディアクエリー
@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

/* ====================================
colors
==================================== */
$primary-color: #00a381;
$font-color: #333;

/* ==================================
products
================================== */
.products {
    background: #E8E8E8;
    padding: 160px 100px;
    @include mq("sm") {
        padding: 120px 0 60px;
    }
}

.products__items {
    max-width: 1080px;
    margin: 52px auto 0;
    @include mq("sm") {
        max-width: 335px;
        margin-top: 48px;
        display: block;
    }
}

.products__item {
    display: flex;
    flex-direction: row;
    background: #fff;
    box-shadow: 3px 3px 6px #00000029;
    @include mq("sm") {
        display: block;
        padding: 20px;
    }
}

.products__item:nth-child(even) {
    flex-direction: row-reverse;
}

.products__item + .products__item {
    margin-top: 100px;
    @include mq("sm") {
        margin-top: 46px;
    }
}

.products__picture {
    width: 50%;
    @include mq("sm") {
        width: 100%;
    }
}

.products__body {
    width: 50%;
    background: #fff;
    padding: 35px 40px;
    @include mq("sm") {
        width: 100%;
        padding: 20px 0 0 0;
    }
}

.products__body h3 {
    font-size: 24px;
    line-height: calc(41 / 24);
}

.products__circle {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.products__circle p {
    font-size: 10px;
}

.products__circle p:not(:first-child) {
    margin-left: 8px;
}

.products__text {
    margin-top: 34px;
    font-size: 16px;
    line-height: calc(28 / 16);
}